@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color:black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: green;
}

#home-container {
  margin-top: 25px;
  background-image: asset-url('monkey.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}